* {
  margin: 0;
  padding: 0; }

/* Fondos */
/* Fuentes */
/* Grids */
.gridPadre {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #001825;
  color: white; }

.gridHeader {
  grid-area: 1 / 1 / 2 / 6;
  background-color: #0c0c0c; }

.gridNoticias {
  grid-area: 2 / 1 / 5 / 4;
  margin: -12% 0% 0% 0%;
  background-image: linear-gradient(to top, #001825, #0c0c0c); }

.gridTrailers {
  grid-area: 2 / 4 / 5 / 6;
  margin: -18% 0% 0% 0%;
  background-image: linear-gradient(to top, #001825, #0c0c0c); }

.gridFooter {
  grid-area: 5 / 1 / 6 / 6;
  background-image: linear-gradient(to bottom, #001825, #0c0c0c); }

.gridPadre__sections {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #001825;
  color: white; }

.gridHeader__sections {
  grid-area: 1 / 1 / 3 / 6;
  background-image: linear-gradient(to top, #001825, #0c0c0c); }

.gridBody__sections {
  grid-area: 2 / 1 / 6 / 6; }

.gridFooter__sections {
  grid-area: 5 / 1 / 6 / 6;
  background-image: linear-gradient(to bottom, #001825, #0c0c0c); }

/* Animaciones */
@keyframes movimientoLogo {
  0% {
    transform: translate(0px, 4px); }
  25% {
    transform: translate(4px, 0px); }
  50% {
    transform: translate(0px, -4px); }
  75% {
    transform: translate(-4px, 0px); }
  100% {
    transform: translate(0px, 4px); } }

/* contenido de index */
#titulo {
  font-size: 3.7rem;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "sans-serif"; }

#marginTitulo {
  margin: 0rem 0rem 0rem 5rem; }

.icono {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  position: absolute;
  animation: movimientoLogo 1.4s linear infinite; }

.nav li {
  display: inline; }

.counter {
  border-left: 3px solid white;
  padding: 0px 0px 0px 17px; }

.nav ul {
  margin: 6% 0% 0% 0%;
  padding: 20px; }

.nav li {
  margin: 7rem 0rem 0rem 0.7rem; }

.nav__li {
  font-family: "Oswald", "sans-serif";
  font-size: 1.6rem; }

.flexBox__header {
  display: flex;
  position: absolute;
  margin: 1rem 0rem 0rem 1rem; }

.flexBox__nav {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 5rem 0rem 0rem;
  font-size: 1.6rem;
  font-family: "Oswald", "sans-serif"; }

/* esto ubicarlo en footer */
.fontfooter {
  font-family: "Oswald", "sans-serif";
  font-size: 2rem;
  margin: 4.5rem 0rem 0rem 2rem; }

.fonticon {
  margin: 2.5rem 0rem 0rem 1.6rem; }

.marginNav {
  margin: -1.9rem 4rem 0rem 0rem;
  font-size: 1.3rem; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  color: white; }

.decorado {
  height: 120px;
  width: 210px;
  object-fit: cover;
  border: #301b1b solid; }

.flexBox__cuerpo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.separado {
  margin: -2% 0% 6% 0%; }

.separadoSub {
  margin: 0% 0% 6% 0%; }

.flexBox__cuerpoNoticias {
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 0rem 4rem; }

.ubicacionTexto {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: -8rem 0rem 0rem 15rem; }

.tituloNoti {
  font-family: "Oswald", "sans-serif";
  font-size: 2rem;
  text-decoration: underline;
  margin: 0rem 0rem 5rem 0rem; }

.tituloVideo {
  font-family: "Oswald", "sans-serif";
  font-size: 2rem;
  text-decoration: underline;
  margin: 0rem 0rem 5rem 0rem; }

.titulosImagen {
  font-size: 1.4rem;
  font-family: "Oswald", "sans-serif"; }

p {
  font-family: 'Play', sans-serif;
  font-size: 1rem; }

.renglon {
  position: absolute;
  margin: -1rem 0rem 0rem 0rem; }

.entreSeparado {
  margin: 2% 0% 0% 0%; }

.videos {
  border: 2px solid #301b1b; }

.flexBox__footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  margin: 11.3rem 0rem 0rem 2rem; }

.tituloFoot {
  font-family: "Oswald", "sans-serif";
  font-size: 1.3rem;
  text-decoration: underline;
  margin: 0rem 0rem 0rem 0rem; }

.icon {
  display: flex;
  position: absolute;
  margin: 0rem 0rem 1rem 0rem; }

.iconSeparacion {
  margin: 0% 0% 0% 20%; }

/* contenido de las secciones */
.flexBody__sections {
  display: flex;
  flex-direction: column;
  margin: -5rem 0rem 0rem 2rem; }

.decoradoPortadas {
  height: 298px;
  width: 210px;
  object-fit: cover;
  border: #301b1b solid; }

.ubicacionTexto__sections {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: -19rem 0rem 0rem 16rem; }

.separado__sections {
  margin: 0rem 0rem 5rem 0rem; }

.titulosCategoria {
  margin: -8rem 0rem 5rem 35.5rem; }

.tituloSection {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  text-decoration: underline;
  margin: -11rem 0rem 5rem 35rem; }

.separadoLista__section {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 9rem 0rem 0rem 3.7rem;
  font-size: 0.8rem;
  font-family: 'Orbitron', sans-serif; }

.entreLinea__section {
  margin: 0.7rem 0rem 0rem 0rem; }

.entreLista__section {
  margin: 2rem 0rem 0rem 3.7rem; }

.separadoEntrelista__section {
  margin: 0rem 0rem 0rem 0rem; }

.separadoDescripcion__section {
  margin: 0.5rem 0rem 0rem 0rem; }

.flexFooter__section {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 20.3rem 0rem 0rem 2rem; }

/* media queries */
/* media */
@media (max-width: 425px) {
  /* Grid mobile */
  .gridPadre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; }
  .gridHeader {
    grid-area: 1 / 1 / 4 / 4; }
  .gridNoticias {
    grid-area: 4 / 1 / 7 / 4;
    margin: 0rem 0rem -27rem 0rem; }
  .gridTrailers {
    grid-area: 7 / 1 / 10 / 4;
    margin: 30rem 0rem 0rem 0rem;
    background-image: linear-gradient(to top, #001825, #001825); }
  .gridFooter {
    grid-area: 10 / 1 / 13 / 4;
    margin: -4rem 0rem 0rem 0rem; }
  /* Titulo Gamelife*/
  #titulo {
    font-size: 2.7rem; }
  #marginTitulo {
    margin: 0rem 0rem 0rem 8rem; }
  .icono {
    height: 4rem;
    width: 4rem;
    margin: 0rem 0rem 0rem 4.2rem; }
  /* Navbar */
  .nav li {
    margin: 7.5rem 0rem 0rem 0.7rem; }
  .nav__li {
    font-size: 1rem; }
  .counter {
    border-left: 2.5px solid white;
    padding: 0px 0px 0px 11px; }
  .marginNav {
    margin: -2rem 3.3rem 0rem 0rem;
    font-size: 1.3rem; }
  /* Subtitulos y Contenido */
  .tituloNoti {
    font-family: "Oswald", "sans-serif";
    font-size: 1.3rem;
    text-decoration: underline;
    margin: 0rem 0rem 2rem 4.1rem; }
  .tituloVideo {
    font-family: "Oswald", "sans-serif";
    font-size: 1.3rem;
    text-decoration: underline;
    margin: -2rem 0rem 2rem -0.4rem; }
  .titulosImagen {
    font-size: 1.4rem;
    font-family: "Oswald", "sans-serif"; }
  .decorado {
    height: 60px;
    width: 105px;
    object-fit: cover;
    border: 1px #301b1b solid; }
  .ubicacionTexto {
    margin: -3.7rem 0rem 0rem 7.3rem; }
  .separado {
    margin: 0rem 0rem 2rem -3.5rem; }
  .entreSeparado {
    margin: -0.2rem 0rem 0rem 0rem; }
  .renglon {
    margin: -1.9rem 0rem 0rem 1.5rem; }
  .titulosImagen {
    font-size: 0.7rem; }
  .titulosImagenmobile {
    font-size: 1rem; }
  p {
    font-size: 0.6rem; } }
