.flexboxBodysections{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 0rem 0rem 0rem;
}
.decoradoPortadas{
    height: 298px;
    width: 210px;
    object-fit: cover;
    @include bordes;
}
.ubicacionTexto__sections{
    @include display;
    position: absolute;
    margin: -19rem 0rem 0rem 16rem;
} 
.separado__sections{
    margin: 0rem 0rem 5rem 0rem;
}
.titulosCategoria{
    margin: -8rem 0rem 5rem 35.5rem;
}
.tituloSection{
    font-family: $subtitulosNav;
    font-size: 2.5rem;
    text-decoration: underline;
    text-align: center;
    margin: -20rem 0rem 5rem 0rem;
}
.separadoLista__section{
    @include display;
    position: absolute;
    margin: 9rem 0rem 0rem 3.7rem;
    font-size: 0.8rem;
    font-family: $parrafo; 
}
.entreLinea__section{
    margin: 0.7rem 0rem 0rem 0rem;
}
.entreLista__section{
    margin: 2rem 0rem 0rem 3.7rem;
}
.separadoEntrelista__section{
    margin: 0rem 0rem 0rem 0rem;
}
.separadoDescripcion__section{
    margin: 0.5rem 0rem 0rem 0rem;
}