.padreContacto {
    @extend .gridPadre;
    }
    
    .headerContacto { 
        grid-area: 1 / 1 / 3 / 6;
        background-image: linear-gradient(to top, map-get($map: $fondos, $key: 'centro'), map-get($map: $fondos, $key: 'extremos')); 
    }
    .bodyContacto {
        grid-area: 2 / 1 / 6 / 6; 
        margin: 0rem 0rem 20rem 0rem; 
    }
    .footerContacto { 
        grid-area: 5 / 1 / 6 / 6;
        background-image: linear-gradient(to bottom, map-get($map: $fondos, $key: 'centro'), map-get($map: $fondos, $key: 'extremos'));
    }