.gridPadre__sections {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: $backgroundBot;
    color: white;
    }
    
    .gridHeader__sections { 
        grid-area: 1 / 1 / 3 / 6;
        background-image: linear-gradient(to top, $backgroundBot, $backgroundTop); 
    }
    .gridBody__sections { 
        grid-area: 2 / 1 / 6 / 6; 
    }
    .gridFooter__sections { 
        grid-area: 5 / 1 / 6 / 6;
        background-image: linear-gradient(to bottom, $backgroundBot, $backgroundTop);
    }