/* media */
@media (max-width: 425px){
    /* Grid mobile */
    /* Grid Index */
    .gridPadre {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: map-get($map: $fondos, $key: 'centro');
        color: white;
    }
        
        .gridHeader { 
            grid-area: 1 / 1 / 2 / 7;
            background-color: map-get($map: $fondos, $key: 'extremos');
        }
        .gridCarousel{
            grid-area: 2 / 1 / 3 / 7;
            background-image: linear-gradient(to top, map-get($map: $fondos, $key: 'centro'), map-get($map: $fondos, $key: 'extremos'));
            /* margin: -45rem 0rem 0rem 0rem; */
        }
        .gridNoticias { 
            grid-area: 3 / 1 / 4 / 7;
        }
        .gridTrailers { 
            grid-area: 4 / 1 / 5 / 7;
        }
        .gridFooter{
            grid-area: 5 / 1 / 6 / 7;
            background-image: linear-gradient(to bottom, map-get($map: $fondos, $key: 'centro'), map-get($map: $fondos, $key: 'extremos'));
        }
    /* Grid Section */
    .gridPadre__sections {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: map-get($map: $fondos, $key: 'centro');
        color: white;
        }
        
        .gridHeader__sections { 
            grid-area: 1 / 1 / 3 / 6;
            background-image: linear-gradient(to top, map-get($map: $fondos, $key: 'centro'), map-get($map: $fondos, $key: 'extremos')); 
        }
        .gridBody__sections {
            grid-area: 2 / 1 / 6 / 6;  
            margin: 10rem 0rem 0rem 0rem;
        }
        .gridFooter__sections { 
            grid-area: 5 / 1 / 6 / 6;
            margin: 0rem 0rem 0rem 0rem;
            background-image: linear-gradient(to bottom, map-get($map: $fondos, $key: 'centro'), map-get($map: $fondos, $key: 'extremos'));
        }    

    /* Titulo Gamelife*/
    #titulo{
        font-size: 2.7rem;
    }
    #marginTitulo{
        margin: 0rem 0rem 0rem 8rem;
    }
    .icono{
        height: 4rem;
        width: 4rem; 
        margin: 0rem 0rem 0rem 4.2rem;
    }

    /* Navbar */
    .flexboxNav{
    display: flex;
    justify-content: flex-end;
    margin: 8rem 2rem 0rem 0rem;
    }
    .flexboxNav div{
        font-size: 0.9rem;
        font-family: $subtitulosNav;
    }

    /* Carousel */
    .flexboxCarousel{
        display: flex;
        justify-content: center;
        margin: 5rem 1.7rem 0rem 1.7rem;
    }
    .decoradoCarousel{
        object-fit: cover;
    }
    .tituloCarousel{
        font-family: $titulo;
        font-size: 1rem;
        margin: 20rem 0rem 0rem 0.8rem;
    }
    .flexboxTitulocarousel{
        display: flex;
        justify-content: center;
        position: absolute;
        margin: -29rem 0rem 0rem 3rem;
    }
    .flexboxTextcarousel{
        display: flex;
        margin: -8rem 0rem 0rem 6.2rem;
    }
    .fixTitulo{
        margin: 22rem 0rem 0rem -12rem;
    }
    .parrafoCarousel{
        margin: 5rem 0rem 0rem 0rem;
    }

    /* Body */
    .flexboxNoticias{
        display: flex;
        flex-direction: column;
        margin: -26rem 0rem 0rem 6rem;
    }
    .ubicacionContent{
        margin: 0rem 0.7rem 0rem -5.3rem;
        padding: 10px;
    }
    .backCard{
        background-color: map-get($map: $fondos, $key: 'card');
    }
    .titulosBody{
        font-family: $subtitulosNav;
        font-size: 1.2rem;
        text-decoration: underline;
        margin: 0rem 0rem 3rem 0rem;
    }
    .titulosNoticias{
        font-size: 0.7rem;
        font-family: $subtitulosNav;
        position: absolute;
        margin: -3.7rem 0rem 0rem 6.3rem;
    }
    .textoNoticias{
        position: absolute;
        margin: -1.6rem 0rem 0rem 6.4rem;
    }
    .titulosImagen{
        font-size: 1.4rem;
        font-family: $subtitulosNav;
    }
    .decorado{
        height: 60px;
        width: 105px;
        object-fit: cover;
        border: 1px rgb(48, 27, 27) solid;
        margin: 0rem 0rem -1rem 0rem;
    } 
    .titulosImagenmobile{
        display: flex;
        justify-content: center;
        font-size: 1rem;
        margin: 1rem 0rem 1rem 3rem;
    }
    #titulonoticiasMobile{
        margin: 0rem 0rem 3rem 3rem;
    }
    #titulotrailersMobile{
        margin: 0rem 0rem 2rem 3rem;
    }
    p{
        font-size: 0.6rem;
    }
    .flexboxTrailer{
        margin: -16rem 3rem 0rem 0rem;
    }
    .videos{
        width: 280px;
        height: 150px;
        margin: 0rem 0rem 0rem 3rem;
    }

    /* Contenido de Footer */
    .flexboxFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15rem 0rem 0rem 0rem;
    }
    .flexboxFootericon{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 8rem 0rem 0rem -5rem;
    }
    #tituloIcon{
        position: absolute;
        font-family: $parrafo;
        margin: -3rem 0rem 0rem 4rem;
    }
    .textIcon{
        font-size: 1rem;
    }
    .tituloFoot{
        font-family: $subtitulosNav;
        font-size: 1.3rem;
        text-decoration: underline;
        position: absolute;
        margin: -3rem 0rem 4.7rem 0rem;
    }
    .tituloFootcontacto{
        font-size: 1.3rem;
        margin: 5rem 0rem 0rem 2rem;
    }

    /* Paginas de Secciones*/
    .flexboxBodysections{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0rem 0rem 0rem 6rem;
    }
    .tituloSection{
        font-size: 1.6rem;
        margin: -18rem 0rem 3.5rem 0rem;
    }
    .titulosJuegos{
        font-family: $subtitulosNav;
        font-size: 1rem;
    }
    .textoJuegos{
        font-family: $parrafo;
    }
    .listadoJuegos{
        font-family: $parrafo;
        font-size: 0.6rem;
    }
    .contenidoJuegos{
        margin: -16.5rem 0rem 0rem 10.5rem;
    }
    .decoradoPortadas{
        height: 250px;
        width: 170px;
        object-fit: cover;
        @include bordes;
        margin: 0rem 0rem 0rem 0rem;
    }

    /* FooterSections */
    .flexboxFootermobile{
        margin: 3rem 0rem 0rem 0rem;
    }
    .flexboxFootericonmobile{
        margin: 7rem 0rem 0rem -4rem;
    }
}
