/* General */ 
.decorado{
    height: 120px;
    width: 250px;
    object-fit: cover;
    @include bordes;
} 
.titulosBody{
    font-family: $subtitulosNav;
    font-size: 2rem;
    text-decoration: underline;
    margin: 0rem 0rem 5rem 0rem;
}
p{
    font-family: $parrafo;
    font-size: 1rem;
}
/* Noticias */
.flexboxNoticias{
    display: flex;
    flex-direction: column;
    margin: -3rem 0rem 0rem 6rem;
}
.ubicacionContent{
    margin: 0rem 0rem 0rem -4rem;
    padding: 10px;
}
.backCard{
    background-color: map-get($map: $fondos, $key: 'card');
}
/* Trailers */
.flexboxTrailer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -3rem 3rem 0rem 0rem;
}
.titulosImagen{
    font-size: 1.4rem;
    font-family: $subtitulosNav;
    text-align: center;
    margin: 1rem 0rem 1rem 0rem;
}
.videos{
    @include bordes;
}