.flexBox__footer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    margin: 17rem 0rem 0rem 2rem;
}
.tituloFoot{
    font-family: $subtitulosNav;
    font-size: 2rem;
    text-decoration: underline;
    position: absolute;
    margin: 0rem 0rem 4.7rem 0rem;
}
.icon{
    display: flex;
    position: absolute;
    margin: 0rem 0rem 1rem 0rem;
}
.iconSeparacion{
    margin: 0% 0% 0% 20%;
}