#titulo{
    font-size: 3.7rem;
    font-family: $titulo;
}
#marginTitulo{
    margin: 0rem 0rem 0rem 5rem;
}
#icono{
    height: 5rem;
    width: 5rem;
    object-fit:cover;
    animation: movimientoLogo 1.4s linear infinite;
}
.nav li{
    display: inline;
}
.counter{
    border-left: 3px solid white;
    padding: 0px 0px 0px 17px;
}
.nav ul{
    margin: 6% 0% 0% 0%;
    padding: 20px;
}
.nav li{
    margin: 7rem 0rem 0rem 0.7rem;
}
.nav__li{
    font-family: $subtitulosNav;
    font-size: 1.6rem; 
}
.flexBox__header{
    display: flex;
    position: absolute;
    margin: 1rem 0rem 0rem 1rem;
}
.flexBox__nav{
    display: flex;
    justify-content: flex-end;
    margin: 2rem 5rem 0rem 0rem;
    font-size: 1.6rem;
    font-family: $subtitulosNav;
}
.fontfooter{
    font-family: $subtitulosNav;
    font-size: 2rem;
    margin: 4.5rem 0rem 0rem 2rem;
}
.fonticon{
    margin: 2.5rem 0rem 0rem 1.6rem;
}
.marginNav{
    margin: -1.9rem 4rem 0rem 0rem;
    font-size: 1.3rem;
}
a{
    color: white;
    text-decoration:none;
}
a:hover{
    color: white;
}