#titulo{
    font-size: 3.7rem;
    font-family: $titulo;
}
#marginTitulo{
    margin: 0rem 0rem 0rem 5rem;
}
.icono{
    height: 5rem;
    width: 5rem;
    object-fit:cover;
    position: absolute;
    animation: movimientoLogo 1.4s linear infinite;
}
/* .nav li{
    display: inline;
} */
.marginNav{
    margin: -1.9rem 4rem 0rem 0rem;
    font-size: 1.3rem;
}
.navEntrelineas{
    border-left: 2px solid black;
}
.navFix{
    padding: 0px 2px 0px 0px;
}
.nav ul{
    margin: 6% 0% 0% 0%;
    padding: 20px;
}
.nav li{
    font-family: $subtitulosNav;
    font-size: 1.6rem;
    margin: 7rem 0rem 0rem 0.7rem;
}
/* Flexbox de navbar */
.flexboxNav{
    display: flex;
    justify-content: flex-end;
    margin: 8rem 6rem 0rem 0rem;
}
.flexboxNav div{
    font-size: 1.6rem;
    font-family: $subtitulosNav;
}
.flexboxNav a{
    color: black;
}
.borderLeft{
    background-color: gray;
    padding: 10px 0px 10px 10px;
    border-radius: 26px 0px 0px 26px;
}
.borderCenter{
    background-color: gray;
    padding: 10px 0px 10px 0px;
}
.borderRight{
    background-color: gray;
    padding: 10px 10px 10px 0px;
    border-radius: 0px 026px 026px 0px;
}
/* flexbox de navbar */
/* .flexboxNav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1.6rem;
    font-family: $subtitulosNav;
    border: 4px solid #1C6EA4;
    border-radius: 17px;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
} */
/* esto ubicarlo en footer */
.fontfooter{
    font-family: $subtitulosNav;
    font-size: 2rem;
    margin: 4.5rem 0rem 0rem 2rem;
}
.fonticon{
    margin: 2.5rem 0rem 0rem 1.6rem;
}
a{
    color: white;
    text-decoration:none;
}
a:hover{
    color: white;
}